*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7))
  }
}

.slide {
  font-size: 1.8rem;
  color: var(--light);
  background: var(--background);
  box-shadow: .4rem .4rem 2.4rem .2rem var(--shadow-1);
  border-radius: 0rem;
  padding: 1.4rem 1.4rem;
  transition: .2s;
  margin: 10px;
  margin-top: 20px;
}

.slider {
  overflow: hidden;
}

.slide-track {
  width: auto;
  animation: scroll linear infinite;
  display: flex;
  width: calc(250px * 14);
  animation-duration: 20s;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7))
  }
}