h1 {
	font-size: 4rem;
	text-align: center;
	padding: 10px;
	margin: 0;
	font: cantarell;
	color: #5383d3;
	transition: 4s ;
}



body {
	margin: 0;
	padding: 0;
}

.main {
	max-height: 550px;
	;
	background-color: #262626;
	color: white;
	font-size: 38pt;
	text-align: center;
	line-height: 550px;
}

footer {
	position: fixed;
	bottom: 0;
}

.footer-distributed {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	margin-top: 80px;
}

/* Column */
.footer-left,
.footer-center,
.footer-right {
	display: inline-block;
	vertical-align: top;
}

.footer-left {
	width: 40%;
}

h3 {
	color: #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

h3 span {
	color: #5383d3;
}


.footer-group-name {
	color: #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-group-name a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
}

.footer-title-name {
	color: #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-center {
	width: 35%;
}

.footer-center i {
	background-color: #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
}

.footer-center p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin: 0;
}

.footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}

.footer-center p a {
	color: #5383d3;
	text-decoration: none;
	;
}

.footer-right {
	width: 20%;
}

.footer-company-about {
	line-height: 20px;
	color: #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-company-about span {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-icons {
	margin-top: 25px;
}

.footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.fadeout {
	animation: fadeOut 2s forwards;
    animation-delay: 5s;
    color: white;
    padding: 10px;
    text-align: center;
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}