h1,
h2,
h3,
h4 {
    font-size: 4rem;
    text-align: center;
    padding: 10px;
    margin: 0;
    font: cantarell;
}


p {
    font-size: 1.5rem;
    margin: 0
}

html {
    background: var(--background);
}

body {
    /* Variables */
    --light: hsl(220, 50%, 90%);
    --primary: hsl(255, 30%, 55%);
    --focus: hsl(210, 90%, 50%);
    --border-color: hsla(0, 0%, 100%, .2);
    --global-background: hsl(220, 25%, 10%);
    --background: linear-gradient(to right, hsl(210, 30%, 20%), hsl(255, 30%, 25%));
    --shadow-1: hsla(236, 50%, 50%, .3);
    --shadow-2: hsla(236, 50%, 50%, .4);

    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', sans-serif;
    color: var(--light);
    background: var(--global-background);
}

section {
    margin: 30px;
    margin-bottom: 0px;
    border: 3px solid var(--border-color);
    border-bottom: 0px;
}

footer {
    margin: 30px;
    margin-top: 0px;
    border: 3px solid var(--border-color);
    border-top: 0px;
}

/* Rows And Column */
.column {
    display: flex;
    align-items: center;
}

.row {
    display: flex;
}


/* box */
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box:not(:first-child) {
    height: 45rem;
}

.box__title {
    font-size: 10rem;
    font-weight: normal;
    letter-spacing: .8rem;
    margin-bottom: 2.6rem;
}

.box__title::first-letter {
    color: var(--primary);
}

.box__p,
.box__info,
.box__note {
    font-size: 1.6rem;
    margin-bottom:50px ;
}

.box__info {
    margin-top: 6rem;
}

.box__note {
    line-height: 2;
}

/*separating iframes */

#main_block {
    display: block;
    width: 100%;
    height: 1490px;
}

#left_frame {
    margin-top: 220px;
    width: 22%;
    height: 1000px;
}

#right_frame {
    margin-left: 90px;
    width: 73%;
    height: 1450px;
}

#left_frame,
#right_frame {
    float: left;
}

iframe {
    box-sizing: border-box;
    border: 0px;
}

.bgshadow {
    background-color: hsla(0, 0%, 100%, .05);
    width: 95%;
    height: 1450px;
}