*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border;
}

a,
a:link {
  font-family: inherit;
  text-decoration: none;

}

a:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}


/* Applied on Navigator */

.link-1 {
  font-size: 1.8rem;
  color: var(--light);
  background: var(--background);
  box-shadow: .4rem .4rem 2.4rem .2rem var(--shadow-1);
  border-radius: 100rem;
  padding: 1.4rem 1.4rem;
  transition: .2s;
  margin: 10px;
  margin-top: 20px;
  overflow: hidden;
  width: 120px;
  height: 120px;
}

.link-1:hover,
.link-1:focus {
  transform: translateY(-.2rem);
  box-shadow: 0 0 4.4rem .2rem var(--shadow-2);
}

.link-1:focus {
  box-shadow:
    0 0 4.4rem .2rem var(--shadow-2),
    0 0 0 .4rem var(--global-background),
    0 0 0 .5rem var(--focus);
}

/* Applied on Carousel */
.link-2 {
  font-size: 1.8rem;
  transition: .2s;
  overflow: hidden;
}

.link-2:hover,
.link-2:focus {
  transform: translateY(-.1rem);
  box-shadow: 0 0 4.4rem .2rem var(--shadow-2);
}

.link-2:focus {
  box-shadow:
    0 0 4.4rem .2rem var(--shadow-2),
    0 0 0 .4rem var(--global-background),
    0 0 0 .5rem var(--focus);
}

/* Text Coloring */

.span2 {
  color: aqua;
}

/* Rows And Column */
.column {
  display: flex;
  align-items: center;
}

.row {
  display: flex;
}