// linked font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primaryColor: #222;
    --secondaryColor: #585858;
    --blackColor: rgb(46, 46, 71);
    --borderColor: rgb(46, 46, 71);
    --inputColor: rgb(241, 241, 241);
    --successColor: rgb(205, 237, 207);
    --failureCoor: rgb(255, 0, 0);
}

html {
    font-size: 90%;
}

body {
    background-color: #585858;
}

header {
    .Separator{
        border-radius:15px;
        display: flex;
        justify-content: right;
    }
    .nav_container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin: 10px;
        background-color: var(--primaryColor);
        border-radius: 30px;
        .button {
            position: relative;
            background-color:var(--primaryColor);
            border: none;
            font-size: 28px;
            color: #FFFFFF;
            padding: 20px;
            width: 200px;
            text-align: center;
            transition-duration: 0.4s;
            text-decoration: none;
            overflow: hidden;
            cursor: pointer;
            border-radius: 15px;
          }
          
          .button:after {
            content: "";
            background: #f1f1f1;
            display: block;
            position: absolute;
            padding-top: 300%;
            padding-left: 350%;
            margin-left: -20px !important;
            margin-top: -120%;
            opacity: 0;
            transition: all 0.8s
          }

          .button:hover {background-color: var(--secondaryColor)}
    }
}

article{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 35px;
    background-color: var(--primaryColor);
    border-radius: 40px;
    height: 100vh;
    color: #FFFFFF;

    h1{
    }
    
}