// linked font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primaryColor: #ad91cf;
    --secondaryColor: rgb(196, 169, 230);
    --blackColor: rgb(46, 46, 71);
    --borderColor: rgb(46, 46, 71);
    --inputColor: rgb(241, 241, 241);
    --successColor: rgb(205, 237, 207);
    --failureCoor: rgb(255, 0, 0);
}

html {
    font-size: 90%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    .form_container {
        width: 290px;
        height: 450px;
        padding: 0 1rem;
        border-radius: 3px;
        border: 1px solid rgb(234, 234, 234);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        position: relative;
        background-color: var(--primaryColor);
        overflow: hidden;
        z-index: 1;

        .overlay {
            position: absolute;
            background-color: var(--secondaryColor);
            content: '';
            height: 500px;
            width: 500px;
            border-radius: 50%;
            z-index: 2;
            top: -20%;
        }

        .titleDiv {
            position: relative;
            width: 100%;
            margin: 10px auto 5px;
            text-align: center;
            transform: translateY(-3rem);
            z-index: 1000;

            .title {
                color: var(--blackColor);
                font-weight: 700;
                font-size: 2.5rem;
            }
        }

        .rows {
            display: grid;
            position: relative;
            gap: 1rem;
            z-index: 1000;
            transform: translateY(-1rem);
            padding-bottom: 1rem;

            label {
                display: block;
                padding-bottom: .285rem;
                font-size: 13px;
            }

            input {
                width: 100%;
                background: var(--inputColor);
                border: none;
                outline: none;
                color: var(--blackColor);
                font-weight: 500;
                padding: .5rem;
                border-radius: 3px;
            }

            ::placeholder {
                font-size: 10px;
            }

            #submitBtn {
                background: var(--blackColor);
                border-radius: 3px;
                cursor: pointer;
                color: white;

                &:hover {
                    background: rgb(03, 203, 235);
                    color: var(--blackColor);
                }
            }

            .registerLink {
                display: block;
                font-size: 13px;
                color: var(--blackColor);
                text-align: center;
                font-weight: 400;
                margin-top: 1rem;

                a {
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }

    }



}