// linked font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html body {
    background-color: #585858;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

:root {
    --primaryColor: #222;
    --secondaryColor: #585858;
    --blackColor: rgb(46, 46, 71);
    --borderColor: rgb(46, 46, 71);
    --inputColor: rgb(241, 241, 241);
    --successColor: rgb(205, 237, 207);
    --failureCoor: rgb(255, 0, 0);
}

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
    border: 5px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-track {
    background-color: #1c1c1c;
}

// HEADER & NAV
header {
    span {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        background-color: var(--primaryColor);
        border-radius: 30px;
        max-width: 100%;
    }

    .container{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        background-color: var(--primaryColor);
        width: 100vw;

        // Drop Down Button
        .dropdownbtn {
            position: relative;
            background-color: var(--primaryColor);
            border: none;
            font-size: 28px;
            color: #FFFFFF;
            padding: 20px;
            width: 200px;
            height: 100%;
            text-align: center;
            transition-duration: 0.4s;
            text-decoration: none;
            overflow: hidden;
            cursor: pointer;
            border-radius: 15px;
        }

        .dropdownlist-content {
            display: none;
            position: absolute;
            background-color: var(--secondaryColor);
            min-width: 200px;
            z-index: 1;
            border-radius: 10px;
        }

        .dropdownlist-content a {
            border: #222 solid 2px;
            color: darkblue;
            padding: 14px 18px;
            display: block;
        }

        .dropdown:hover .dropdownbtn {
            background-color: var(--secondaryColor);
        }

        .dropdownlist-content a:hover {
            background-color: lightcyan;
        }

        .dropdown:hover .dropdownlist-content {
            display: block;
        }


        // Regular button
        .button {
            position: relative;
            background-color: var(--primaryColor);
            border: none;
            font-size: 28px;
            color: #FFFFFF;
            padding: 20px;
            width: 200px;
            text-align: center;
            transition-duration: 0.4s;
            text-decoration: none;
            overflow: hidden;
            cursor: pointer;
            border-radius: 15px;
        }

        .button:after {
            content: "";
            background: #f1f1f1;
            display: block;
            position: absolute;
            opacity: 0;
            transition: all 0.8s
        }

        .button:hover {
            background-color: var(--secondaryColor)
        }
    }
}

// MAIN PAGE
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 35px;
    background-color: var(--primaryColor);
    border-radius: 10px;
    height: 100vh;
    color: #FFFFFF;
}